.header {
  background: url(../img/bg-header.png) repeat fixed center top;
  padding: 22px 0;
}
.nav-belt {
  width: 100%;
  align-items: flex-end;
}
.navbar-brand {
  img {
    width: 220px;
  }
}
.phone-list {
  list-style: none;
  margin-bottom: 7px;

  i {
    font-size: x-large;
    padding-top: 5px;
  }
}
.phone-item {
  font-size: remy(20px);
  font-weight: 700;
  padding-left: 10px;
}
.navbar-main {
  background-color: #1f2124;
  margin-top: 25px;
}
.nav-list {
  width: 100%;
  padding-left: 0;
}
.nav-link {
  color: #fff;

  &:hover {
    color: #fff;
  }

  i {
    padding-right: 7px;
  }
}
.nav-item,
a.dropdown-item {

  &:hover {
    background-color: #ec0606;
  }
}
